// *************************************
//
// # jigsass-utils-display
// -> CSS display utility classes
//
// Author: TxHawks (tofu.hawks@gmail.com)
//
// https://txhawks.github.io/jigsass-utils-display/
// https://www.github.com/txhawks/jigsass-utils-display/
//
// *************************************

@charset 'UTF-8';

// -------------------------------------
// Dependencies
// -------------------------------------

@if (not mixin-exists(jigsass-define-util)) {
  @error '`jigsass-utils-display` has a dependency on `jigsass-tools-selectors`. ' +
    'Please import it before importing this file.'
}





// -------------------------------------
// Introduction
// -------------------------------------

// stylelint-disable
/* ---
section: u-d (Display)
title: Introduction
order: -10
---

[![NPM version][npm-image]][npm-url]
[![Dependency Status][daviddm-image]][daviddm-url]

A collection of dynamically generated css `display` utility classes.

Class names follow the [Emmet](http://docs.emmet.io/cheat-sheet/) abbreviation
syntax, with colons (':') replaced by two dashes (`--`) to follow BEM naming
conventions (It modifiies the user agent's default display).
E.g., the `display: none` utility class name is `.u-d--n`.

#### Available classes
  - `.d--b` (display: block)
  - `.d--f` (display: flex)
  - `.d--if` (display: inline-flex)
  - `.d--i` (display: inline)
  - `.d--ib` (display: inline-block)
  - `.d--inher` (display: inherit)
  - `.d--init` (display: initial)
  - `.d--li` (display: list-item)
  - `.d--n` (display: none)
  - `.d--tb` (display: table)
  - `.d--iteb` (display: inline-table)
  - `.d--tbcp` (display: table-caption)
  - `.d--tbcl` (display: table-column)
  - `.d--tbclg` (display: table-column-group)
  - `.d--tbhg` (display: table-header-group)
  - `.d--tbfg` (display: table-footer-group)
  - `.d--tbr` (display: table-row)
  - `.d--tbrg` (display: table-row-group)
  - `.d--tbc` (display: table-cell)
  - `.d--rb` (display: ruby)
  - `.d--rbb` (display: ruby-base)
  - `.d--rbbg` (display: ruby-base-group)
  - `.d--rbt` (display: ruby-text)
  - `.d--rbtg` (display: ruby-text-group)

#### Installation

Using npm:

```sh
npm i -S jigsass-utils-display
```

#### Usage
Import JigSass Utils Display into your main scss file near its very end, together with all
other utilities (utilities should always be the last to be imported).

```scss
@import 'path/to/jigsass-utils-display/scss/index';
```

Like all other JigSass Utils, JigSass Display does not automatically generate any CSS
when imported. You would need to explicitly indicate that each individual display
class should actually be generated in each component or object it is used in
(clarification: This will include style declarations inside `.foo` and .`bar`):

```scss
// _c.foo.scss
.foo {
  @include jigsass-util(u-d, $modifier: b); // <-- display: block

  ...
}
```

```scss
// _c.bar.scss
.bar {
  @include jigsass-util(u-d, $modifier: ib);  // <-- display: inline-block
  @include jigsass-util(
    u-d,
    $modifier: f,
    $from: large
  ); // <-- display: flex from large bp an on.

  ...
}
```

Doing so helps us a great deal with portability, as no matter where we import component or object
partials, the correct utility classes will be generated. Think of it as a poor man's dependency
management.

Developer communication is also assisted by including "dependencies" wherever they are required,
as anyone going through a partial, can easily understand how it should be marked up with just a
glance.

As far as bloat goes, just don't worry about it - the actual styles will only be generated once,
at the location in the cascade where the Jigsass Clearfix partial was imported into the main file.


JigSass Display classes are responsive-enabled, using [JigSass MQ](https://txhawks.github.io/jigsass-tools-mq/)
and the breakpoints defined in the [$jigsass-breakpoints](https://txhawks.github.io/jigsass-tools-mq/#variable-jigsass-breakpoints) variable.

Based on the breakpoint arguments passed to `jigsass-util` when including a display class, responsive
modifiers are generated according to the following logic:

```scss
.u-d--<modifier>[-[-from-<breakpoint-name>][-until-<breakpoint-name>][-misc-<breakpoint-name>]]
```

So, assuming the `medium`, `large` and `landscape` breakpoints are defined in `$jigsass-breakpoints`
as `600px`, `1024px` and `(orientation: landscape)` respectively,

```scss
@include jigsass-util(u-d, $modifier: f);
```
will generate the `.u-d--f` class, which is not limited to any media-query.

```scss
@include jigsass-util(u-d, $modifier: f, $until: medium);
```

will generate the `.u-d--f--until-medium` class, which will be in effect at
`(max-width: 37.49em)` and will override styles in the default class until that point.

```scss
@include jigsass-util(u-d, $modifier: f, $from: large, $misc: landscape);
```

will generate the `.u-d--f--from-large-when-landscape` class, which will go into
effect at `(min-width: 64em) and (orientation: landscape)` and will override styles in the default
class under these  conditions.


**License:** MIT



[npm-image]: https://badge.fury.io/js/jigsass-utils-display.svg
[npm-url]: https://npmjs.org/package/jigsass-utils-display

[daviddm-image]: https://david-dm.org/TxHawks/jigsass-utils-display.svg?theme=shields.io
[daviddm-url]: https://david-dm.org/TxHawks/jigsass-utils-display
*/
// stylelint-enable





// -------------------------------------
// Variables
// -------------------------------------

/// A constant for translating modifiers to style declarations.
/// ---
/// @type Map
/// ---
/// @access private
/// ---
$_jigsass-display-mod-to-style: (
  b: block,
  cp: compact,
  f: flex,
  if: inline-flex,
  i: inline,
  ib: inline-block,
  inher: inherit,
  init: initial,
  li: list-item,
  n: none,
  rb: ruby,
  rbb: ruby-base,
  rbbg: ruby-base-group,
  rbt: ruby-text,
  rbtg: ruby-text-group,
  ri: run-in,
  tb: table,
  iteb: inline-table,
  tbcp: table-caption,
  tbcl: table-column,
  tbclg: table-column-group,
  tbhg: table-header-group,
  tbfg: table-footer-group,
  tbr: table-row,
  tbrg: table-row-group,
  tbc: table-cell,
);


// Used internally to store doclets
$_doclet-store: () !default;

// Used internally to ordering doclets
$_jigsass-util-display-i: 1;


// -------------------------------------
// Definitions
// -------------------------------------

@include jigsass-define-util(u-d) {
  @if (not $jigsass-util-modifier) {
    @error 'jigsass-utils-display: You must specify a display type as a modifier';
  }
  @if (not map-has-key($_jigsass-display-mod-to-style, $jigsass-util-modifier)) {
    @error 'jigsass-utils-display: `#{$jigsass-util-modifier}` is not a valid display ' +
      'property value abbreviation. Valid abbreviations are: \a' +
      '#{inspect($_jigsass-display-mod-to-style)}';
  }

  display: map-get($_jigsass-display-mod-to-style, $jigsass-util-modifier);


  $_doclet: $jigsass-util-name + $jigsass-util-modifier;
  @if (not index($_doclet-store, $_doclet)) {
    $_doclet-store: append($_doclet-store, $_doclet) !global;
    // stylelint-disable
/* ---
section: u-d (Display)
title: u-d--#{$jigsass-util-modifier} (#{map-get($_jigsass-display-mod-to-style, $jigsass-util-modifier)})
order: #{$_jigsass-util-display-i}
---
A util to modify an element's `display` property value to
`#{map-get($_jigsass-display-mod-to-style, $jigsass-util-modifier)}`.

#### Include with:

```scss
@include jigsass-util(u-d, $modifier: #{map-get($_jigsass-display-mod-to-style, $jigsass-util-modifier)}[, $from, $until, $misc]);
```

#### Example

```example:html
<div class='fpo u-d--#{$jigsass-util-modifier}'>
  This div is display value is set to: <em>#{map-get($_jigsass-display-mod-to-style, $jigsass-util-modifier)}</em>.
</div>
```
*/
    $_jigsass-util-display-i: $_jigsass-util-display-i + 1 !global;
    // stylelint-enable
  }
}
